@{
    ViewBag.Title = "Home Page";
}
@section featured {

    <div class="container">
    <section class="col-md-12 col-sm-12">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
        </div>
}
