
body
{
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a
{
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    


header, footer, hgroup,
nav, section
{
    display: block;
}

mark
{
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear-fix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.clear
{   clear: both;
}
h1, h2, h3,
h4, h5, h6
{
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active
    {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper
{
    margin: 0 auto;
    max-width: 960px;
}

body
{
    background:url("../images/bg.png") fixed top center no-repeat;
    background-size:cover;
}

.main-content
{
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content
{
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper
{
    padding-top: 20px;
}

footer
{
    clear: both;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title
{
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active
    {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login
{
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}



    #login ul
    {
        margin: 0;
    }

    #login li
    {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu
{
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li
    {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a
        {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover
            {
                color: #333;
                text-decoration: none;
            }

            

            .loginPage {
    padding: 21px;
}


            .btn {
    border-radius: 0;
    border: 0;
    border-bottom: 4px solid #CCCCCC;
    margin:0;
    -webkit-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
       -moz-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
            box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
}
.btn .btn-block:active, .btn .btn-lg:active {
    -webkit-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
       -moz-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
            box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3);
}
.btn-default {
    color: #555;
    background-color: #f9f9f9;
    border-color: #cacaca;
    text-shadow: 1px 1px 0 #f5f5f5;
}
.btn-default:hover, .btn-default:focus {
    background-color: #f4f4f4;
    border-color: #bebebe;
}
.btn-success {
    background-color: #80d752;
    border-color: #61be26;
    text-shadow: 1px 1px 0 #5fdb34;
}
.btn-success:hover, .btn-success:focus {
    background-color: #75cd53;
    border-color: #53aa27;
}
.btn-info {
    background-color: #39b3d7;
    border-color: #348fd2;
    text-shadow: 1px 1px 0 #238ed5;
}
.btn-info:hover, .btn-info:focus {
    background-color: #45abcd;
    border-color: #347abe;
}
.btn-warning {
    background-color: #FEAF20;
    border-color: #d79a34;
    text-shadow: 1px 1px 0 #db9e34;
}
.btn-warning:hover, .btn-warning:focus {
    background-color: #f5a620;
    border-color: #cd9034;
}
.btn-danger {
    background-color: #d73814;
    border-color: #be0000;
    text-shadow: 1px 1px 0 #ac2925;
}
.btn-danger:hover, .btn-danger:focus {
    background-color: #cd3714;
    border-color: #aa0000;
}
.btn-primary {
    background-color: #4274d7;
    border-color: #4d5bbe;
    text-shadow: 1px 1px 0 #232bd5;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #426acd;
    border-color: #4f56aa;
}
.btn-magick {
    color: #fff;
    background-color: #bb39d7;
    border-color: #9a00cd;
    text-shadow: 1px 1px 0 #9823d5;
}
.btn-magick:hover, .btn-magick:focus {
    color: #fff;
    background-color: #b13acd;
    border-color: #8600b9;
}
.btn-pressure {
    position: relative;
    margin-bottom: 0;
}
.btn-pressure:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn-pressure:active, .btn-pressure.active {
    top: 4px;
    border: 0;
    position: relative;
}
.btn-sensitive:active, .btn-sensitive.active {
    top: 1px;
    margin-top: 4px;
}

/* page elements
----------------------------------------------------------*/
/* featured */
.featured
{
    background-color: #fff;
}

    .featured .content-wrapper
    {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2
    {
        color: #fff;
    }

    .featured p
    {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title
{
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2
    {
        display: inline;
    }

    hgroup.title h2
    {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature
{
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round
{
    list-style-type: none;
    padding-left: 0;
}

    ol.round li
    {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero
        {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one
        {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two
        {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three
        {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four
        {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five
        {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six
        {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven
        {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight
        {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine
        {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article
{
    float: left;
    width: 70%;
}

aside
{
    float: right;
    width: 25%;
}

    aside ul
    {
        list-style: none;
        padding: 0;
    }

        aside ul li
        {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label
{
    font-weight: 700;
}

/* login page */
#loginForm
{
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error
    {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul
    {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li
    {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input
    {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button
        {
            width: auto;
        }

#socialLoginForm
{
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2
    {
        margin-bottom: 5px;
    }

#socialLoginList button
{
    margin-bottom: 12px;
}

#logoutForm
{
    display: inline;
}


.dashboard-icon .glyphicon {
    display: block;
    font-size: 2.1em;
    padding: 10px 0;
    color:#d6d6d6;
}

.dashboard-icon:hover .glyphicon, .dashboard-icon:hover, .dashboard-icon:hover a
{
    color:#fff;
    text-decoration:none;
    background:#555;
}




.dashboard-icon {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    padding: 25px !important;
    text-align: center;
    text-decoration:none;
}

    .dashboard-icon a
    { 
        text-decoration:none;
    }

h2 {
    border-bottom: 2px solid #ddd;
    font-size: 21px !important;
    margin: 0 0 10px !important;
    padding: 0 0 10px !important;
}

.footer, .footer a, .footer:hover a
{
    color:#fff;
}
.logo img {
    border-radius: 145px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: 105px;
    margin-bottom: 25px;
    width: 105px;
}

/* contact */
.contact h3
{
    font-size: 1.2em;
}

.contact p
{
    margin: 5px 0 0 10px;
}

.contact iframe
{
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset
{
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend
    {
        border: 0 none;
        color: #fff;
    }

    fieldset ol
    {
        padding: 0;
        list-style: none;
    }

        fieldset ol li
        {
            padding-bottom: 5px;
        }

label
{
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox
    {
        display: inline;
    }

/* info and errors */
.message-info
{
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error
{
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success
{
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error
{
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}


.form-group {
    display: table;
    margin-bottom: 15px;
    width: 100%;
}
.validation-summary-valid
{
    display: none;
}


/* tables
----------------------------------------------------------*/
table
{
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th
{
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}






    th.asc a, th.desc a
    {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after
        {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after
        {
            content: '▲';
        }

        th.desc a:after
        {
            content: '▼';
        }

td
{
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td
{
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px)
{

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right
    {
        float: none;
    }

    /* logo */
    header .site-title
    {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login
    {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul
        {
            margin: 5px 0;
            padding: 0;
        }

        #login li
        {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a
        {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover
            {
                color: #333;
            }

    /* menu */
    nav
    {
        margin-bottom: 5px;
    }

    ul#menu
    {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li
        {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content
    {
        background-position: 10px 0;
    }

    .content-wrapper
    {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper
    {
        padding: 10px;
    }

    /* page content */
    article, aside
    {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round
    {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li
        {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine
            {
                background: none;
            }

    /* features */
    section.feature
    {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img
        {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input
    {
        width: 90%;
    }

    /* login page */
    #loginForm
    {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error
        {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm
    {
        margin-left: 0;
        float: none;
        width: auto;
    }

    .footer
    {
        background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
        bottom: 0;
        width: 100%;
    }

        .footer .container-fluid
        {
            padding: 0 15px;
            text-align: center;
            width: auto;
        }

        .footer .text-muted
        {
            color: #fff;
            font-size: 12px;
            margin: 0;
            padding: 20px 0;
        }


        .footer .copyrightText
        {
            float: left;
        }

        .footer .footerMahaLogo
        {
            float: right;
        }

    section.container
    {
        margin: 20px auto;
    }

    section .innerContainer
    {
        background: #ffffff none repeat scroll 0 0;
    }

        section .innerContainer:nth-child(n)
        {
            filter: none;
        }
}
